PORT=3333
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/flashstudy?schema=public

JWT_ACCESS_SECRET=super-secret-jwt-access-key-change-me-in-production-123456
JWT_REFRESH_SECRET=super-secret-jwt-refresh-key-change-me-in-production-123456
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:8081
